.welcome-screen{
    min-height: 100vh;
}

h1{
    font-size: 68px;
    font-weight: bold;
}

.img-welcome{
    width: 60%;
    max-width: 60%; /* Garantir que a imagem não ultrapasse o tamanho do contêiner */
    height: auto;
}

.navbar {
    margin-bottom: 20px;
}