/* 
    System color palette
    #1c0b2b
    #301c41
    #413b6b
    #5c65c0
    #6f95ff
*/

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden; /* Evita a barra de rolagem horizontal */

    scroll-behavior: smooth;

    font-family: "Raleway", sans-serif;
    color: black;
}

.h1-principal{
    color:  #6f95ff;
}