/* 
    System color palette
    #1c0b2b
    #301c41
    #413b6b
    #5c65c0
    #6f95ff
*/

*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: "Raleway", sans-serif;
    color: black;
}