/* 
    System color palette
    #1c0b2b
    #301c41
    #413b6b
    #5c65c0
    #6f95ff
*/

.screan-register{
    min-height: 90vh;
}

.img-register{
    width: 100%;
    max-width: 100%; /* Garantir que a imagem não ultrapasse o tamanho do contêiner */
    height: auto;
}

.input{
    font-size: 22px;
}

.label-form{
    font-size: 26px;
}


.btn-register{
    background-color: transparent;
    border: 2px solid #6f95ff;
    border-radius: 15px;
    /* font-weight: bold; */
    font-size: 22px;
}

.btn-register:hover{
    background-color: #6f95ff;
    color: #fff;
}