/* 
    System color palette
    #1c0b2b
    #301c41
    #413b6b
    #5c65c0
    #6f95ff
*/

.cont-register{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-register{
    background-color: transparent;
    border: 2px solid #6f95ff;
    border-radius: 15px;
    /* font-weight: bold; */
    font-size: 22px;
}

.btn-register:hover{
    background-color: #6f95ff;
    color: #fff;
}